body {
  display: flex;
}

button {
  width: 80px;
  margin: 9px;
  padding: 5px;
  color: white;
  border: 0;
  background-color: blueviolet;
  font-size: 10px;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  box-shadow: 0 0 3px black;
}

p{
  margin: 14.5px;
}
div:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
